[Desktop Entry]
Encoding=UTF-8
Name=ISO Snapshot
Name[ca]=Snapshot
Name[cs]=Snapshot
Name[de]=Snapshot
Name[el]=Snapshot
Name[es]=Snapshot
Name[fr]=Snapshot
Name[it]=Snapshot
Name[ja]=Snapshot
Name[lt]=Momentinė kopija
Name[nl]=Snapshot
Name[pt]=Criador de Imagens ISO
Name[ru]=Снимок системы
Name[sv]=Snapshot
Comment=Create a live iso snapshot of your running system.
Comment[ca]=Crea una instantània ISO del sistema en execució
Comment[cs]=Vytvořte si LIVE ISO snapshot z Vašeho systému
Comment[de]=Eine Live-iso Schnappschuss Ihres laufenden Systems erstellen.
Comment[el]=Δημιουργήστε μια ζωντανή ISO στιγμιότυπο της λειτουργίας του συστήματός σας.
Comment[es]=Crear una instantánea digital de su sistema activo
Comment[fr]=Créer un iso live en direct de votre système en marche.
Comment[it]=Creare una iso Live del tuo sistema attualmente in esecuzione
Comment[ja]=実行中システムのライブ ISO スナップショットを生成します。
Comment[nl]=Creëer een live iso snapshot van je werkende systeem
Comment[pt]=Para criar imagens ISO do sistema em execução como instalação externa.
Comment[ru]=Создание снимка системы в Live-CD из работающей системы.
Comment[sv]=Skapa ett live iso snapshot av det system du kör.
Exec=gksu isosnapshot
Terminal=false
Type=Application
Icon=iso-snapshot.png
Categories=GNOME;GTK;System;
